@font-face {
  font-family: "iconfont"; /* Project id 3540423 */
  src: url('iconfont.woff2?t=1660813409014') format('woff2'),
       url('iconfont.woff?t=1660813409014') format('woff'),
       url('iconfont.ttf?t=1660813409014') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.py-xuanzhuan:before {
  content: "\e79a";
}

.py-star:before {
  content: "\e8c6";
}

.py-notice:before {
  content: "\e605";
}

.py-talk:before {
  content: "\e617";
}

.py-like:before {
  content: "\e8c3";
}

